<div class="toolbar" role="banner">
  <!--interpolation-->
  <h1 [style.color]="'white'">{{title}}</h1>
</div>

<!--class binding-->
<div [class.space]="isSpace"> 
  <a href="/login">login</a>

  <!--property biniding-->
  <p>Company Name : <input [value]='companyName' [disabled]='isUnchanged'/></p>


  <!--style binding-->
  <p>Floor : <input [value]='floorNumber' [style.color]="foreColor"/></p>

   
  <table border="1">
      <tr>
        <!--attribute binding-->
        <th [attr.colspan]="1+2">Third floor</th>
      </tr>
      <tr>
        <td>Desk 1</td>
        <td>Desk 2</td>
        <td>Desk 3</td>
      </tr>
      <tr>
          <td>Desk 4</td>
          <td>Desk 5</td>
          <td>Desk 6</td>
      </tr>
     
  </table>

  <!--interpolation expression-->
  <p>Total desk : {{3+3}}</p>

  <!--pipe : date and uppercase-->
  <p>Date : {{currentDate | date | uppercase }}</p>

  <!--event binding-->
  <button (mouseover)="changeText=true" (mouseout)="changeText=false">
      <span style="color: green;" *ngIf="!changeText">Check In</span>
      <span style="color: red;" *ngIf="changeText">Check Out</span>
  </button>

</div>

